.popup-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .popup {
    position: relative;
    background-color: #333;
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 40px;

    &__close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 25px;
      cursor: pointer;
      user-select: none;
      backface-visibility: hidden;
      transform-origin: center center;

      &:hover {
        transform: scale(1.5);
      }

      &, &:hover {
        transition: transform .15s ease;
      }
    }

    &__content {
      max-height: 100%;
      display: flex;
      overflow: hidden;
    }

    .product {
      display: flex;
      margin: -40px;
      overflow: hidden;

      &__part {
        width: 50%;
        padding: 40px;
        overflow: hidden;
        height: 100%;

        @media screen and (max-width: 1200px) {
          padding: 20px;
        }
      }

      &__part--info {
        display: flex;
        flex-direction: column;
      }

      &__image {
        position: relative;
        width: 100%;
      }

      &__name {
        font-size: 24px;
        line-height: 32px;
        font-family: 'Anton', sans-serif;
      }

      &__note, &__price {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
        font-family: 'Lato', sans-serif;
      }

      &__note {
        overflow: auto;
      }

      &__link {
        background-color: deeppink;
        margin-top: 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        cursor: pointer;

        &:hover {
          background-color: darken(deeppink, 20%);
        }

        &, &:hover {
          transition: background-color .15s ease;
        }
      }

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        margin: -20px;
      }
    }
  }
}