.info {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 400px;
  max-width: 30%;
  height: 100vh;
  overflow-y: auto;
  padding: 80px;

  .header {
    font-size: 48px;
    line-height: 56px;
    font-family: 'Anton', sans-serif;
  }

  .description {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
  }

  .contacts {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;

    &__link {
      &:hover {
        color: deeppink;
      }

      &, &:hover {
        transition: color .15s ease;
      }
    }
  }
  @media (max-width: 1200px) {
    position: relative;

    height: auto;
    min-width: 50%;
    margin-left: 0;
    left: 0;
    padding: 0 0 40px 0;
  }
}