.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 0 0 auto;

  &__preview-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    width: 50%;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__preview {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      min-width: 100%;
      max-width: none;
      height: 100%;
      transform: translate(-50%, -50%);
      transform-origin: 0 0;
    }

    &:hover {
      img {
        transform: scale(1.1) translate(-50%, -50%);
      }
    }

    &, &:hover {
      img {
        transition: transform .15s ease;
      }
    }
  }

  @media (max-width: 1200px) {
    width: 100%;
    margin: -10px;
  }
}